<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>

      <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="sidebar-heading"> Menu </div>
          <div class="list-group list-group-flush">
              <a class="list-group-item list-group-item-action bg-light" (click)=showCodebooks()>Codebooks management</a>
              <a class="list-group-item list-group-item-action bg-light">Comment management</a>
              <a class="list-group-item list-group-item-action bg-light" (click)=showUsers()>User management</a>
              <a class="list-group-item list-group-item-action bg-light">Permission management</a>
              <a class="list-group-item list-group-item-action bg-light">Agents registration</a>
          </div>
      </div>

      <div id="page-content-wrapper">
        <router-outlet></router-outlet>
        
        <button id="button5" (click)="toAdv()">Make Advertisement</button>
        <button id="button6" (click)="rentRequest()">Make rent request</button>

        

            </div><!-- Page Content Wrapper -->
          </div><!-- Wrapper -->
    </body>
</html>