<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ad</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="css/register.css"> -->
    <!-- <script src="js/Register.js"></script> -->
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="" id="icon" />
        </div>
        <!-- <div class="md-form">
            <select ng-model="selectedModel" ng-options="x for x in names">
            </select>
        </div> -->
        <!-- <div class="md-form">
            <select formControlName="orders" id="orders" [(ngModel)]="fuelTyp">
                <option *ngFor="let x of fuelType let i = index">
                  {{x[i].name}}
            </option>
            </select>
        </div>  -->
        <div>
            <select [(ngModel)]="ft">
                <option [ngValue]="ft" *ngFor="let ft of fuelType" (click)="selectedFuelType(ft)">{{ft.name}}</option>
            </select>
        </div> 
        <div>
            <select [(ngModel)]="cm">
                <option [ngValue]="cm" *ngFor="let cm of carModels" (click)="selectedCarModel(cm)">{{cm.name}}</option>
            </select>
        </div>  
        <input type="text" id="name" class="fadeIn second" name="name" placeholder="nameAdvertisemnt" [(ngModel)]="nameAdvertisement">
        <p></p>
        <input type="number" id="milage" class="fadeIn second" name="milage" placeholder="milage" [(ngModel)]="milage">
        <p></p>
        <input type="text" id="namee" class="fadeIn second" name="name" placeholder="namePricing" [(ngModel)]="namePricing">
        <p></p>
        <input type="number" id="distancelimit" class="fadeIn second" name="distancelimit" placeholder="distancelimit" [(ngModel)]="distancelimit"><p></p>
        <input type="number" id="regularprice" class="fadeIn second" name="regularprice" placeholder="regularprice" [(ngModel)]="regularprice"><p></p>
        <input type="number" id="overuseprice" class="fadeIn second" name="overuseprice" placeholder="overuseprice" [(ngModel)]="overuseprice"><p></p>
        <input type="number" id="collisiondamage" class="fadeIn second" name="collisiondamage" placeholder="collisiondamage" [(ngModel)]="collisiondamage"><p></p>
        <input type="number" id="discountdays" class="fadeIn second" name="discountdays" placeholder="discountdays" [(ngModel)]="discountdays"><p></p>
        <input type="number" id="discountperc" class="fadeIn second" name="discountperc" placeholder="discountperc" [(ngModel)]="discountperc"><p></p>
        <input type="date" [(ngModel)]="selectedStartDate" (ngModelChange)="selectStartDate()"> 
        <!-- <mat-datepicker #startDate></mat-datepicker> -->
        <input type="date" [(ngModel)]="selectedEndDate" (ngModelChange)="selectEndDate()">
        
        <!-- <mat-datepicker #endDate></mat-datepicker> -->
            <button class="btn btn-primary fadeIn fourth" (click)="onSubmit()">Make an advertisement</button>
        <div id="formFooter">
        </div>
    </div>
</div>
</body>
</html>