<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="css/register.css"> -->
    <script src="js/Register.js"></script>
   

</head>
<body>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="" id="icon" />
        </div>
       
            <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [ngModel]="email"/>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [ngModel]="password" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                </div>
                </div>
            </form> -->
        
            <input type="text" id="firstname" class="fadeIn second" name="firstname" placeholder="firstname" [(ngModel)]="firstname">
            <input type="text" id="lastname" class="fadeIn second" name="lastname" placeholder="lastname" [(ngModel)]="lastname">
            <input type="text" id="email" class="fadeIn second" name="email" placeholder="email" [(ngModel)]="email">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" [(ngModel)]="password">
            <p>Company</p>
            <input type="radio" id="isCompany" class="fadeIn third" name="isCompany" placeholder="isCompany" [(ngModel)]="isCompany"> 
            <p>Agent</p>
            <input type="radio" id="isAgent" class="fadeIn third" name="isAgent" placeholder="isAgent"  [(ngModel)]="isAgent"> 
            <p>Customer</p>
            <input type="radio" id="isCustomer" class="fadeIn third" name="isCustomer" placeholder="isCustomer"  [(ngModel)]="isCustomer"> 
            <!-- <input type="submit" class="fadeIn fourth" value="Log In" id="submitLogin"> -->
            <button class="btn btn-primary fadeIn fourth" (click)="onSubmit()">Register</button>
    
        <div id="formFooter">
        </div>

    </div>
</div>

</body>
</html>
